.chefcard{
    height: auto;
    display:block;
    border-radius: 10px; 
    border: 3px solid rgb(20, 105, 68);
    background-color: #e7e5e4;
    padding: 12px;
}

.name{
    margin-bottom: 4px;
    display:flex;
    flex-direction: row;
    align-items: center;
}

.heart{
    display: flex;
    margin-right:4px;
    margin-top:4px;
    float:right;
    color: red;
  }
  
.chefPhoto {
    width: 200px;
    margin-left:10px;
    display:flex;
    flex-direction: row;
}


.chefRating{
    margin-right:10px;
    display:flex;
    flex-direction: row;
    float:right;
    margin-bottom:100px;
}

.chefRating img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}