.form {
  position: relative;
}

.input_bar {
  width: 400px;
}

.suggestions {
  position: absolute;
  /* margin-left: 105px; */
  /* margin-top: -10px; */
  /* top: 100%; */
  /* left: 0; */
  z-index: 999;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 8px; 
  padding: 0;
  /* margin: 0; */
  list-style-type: none;
  /* width: 400px;  */
}

.suggestion {
  padding: 8px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f2f2f2;
}
