.exitButton{
  display:block;
  cursor: pointer;
  height: 14px;
  margin-left: 95%;
}

.signup {
  width: 600px;
  padding: 2rem;
  background-color: #e8e5e0;
  display: block;
  flex-direction: row;
  margin-left: 400px;
  height: 600px;
  margin-top: -200px;
}

.input-class {
  position: block;
  margin-bottom:20px;
  right: 0px;
  width: 90%;
  border: none;
}
.input-class:focus {
  outline: none;
}
.buttonpassword img {
  display: flex;
  float:right;
}
.form-class {
  margin-top:-30px;
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 1px;
}


.buttonpassword {
  display: relative;
  width: 20px;
  height: 44px;
  background-color: white;
}
.error-text{
  color:rgb(82, 82, 82);
  font-size: 0.9rem;
  margin-bottom:8px;
}
.signup .button-class {
  color: white;
  background-color: rgba(69, 128, 120, 255);
  width: 70px;
  height: 40px;
  border-radius: 2px;
  border: none;
  margin-top: px;
}

.signup .button-class:disabled {
  background-color: rgba(69, 128, 120, 0.5);
  cursor: not-allowed;
}

.strength-meter__bar {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.strength-meter__bar--weak {
  background-color: #ff4136; /* red */
}

.strength-meter__bar--medium {
  background-color: #ffdc00; /* yellow */
}

.strength-meter__bar--strong {
  background-color: #2ecc40; /* green */
}
